<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="patch" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <div style="display: flex; flex-direction: column">
        <input type="text" th:field="*{login}" id="login"/>
        <input type="text" th:field="*{email}" id="email"/>
        <input type="text" th:field="*{name}" id="name"/>
    </div>
    <button type="submit">изменить</button>
</form>
<form th:method="delete" th:action="@{/{id}(id=${user.getId()})}">
    <button type="submit">удалить</button>
</form>
</body>
</html>